/* AppComponent's private CSS styles */
h1 {
  font-size: 1.2em;
  color: #999;
  margin-bottom: 0;
}
h2 {
  font-size: 2em;
  margin-top: 0;
  padding-top: 0;
}
nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}
nav a:visited,
a:link {
  color: #607d8b;
}
nav a:hover {
  color: #039be5;
  background-color: #cfd8dc;
}
nav a.active {
  color: #039be5;
}

.search-form {
  display: flex;
  justify-content: space-between;
  .url-input {
    flex: 1;
    margin-right: 100px;
  }
}
.cdk-column-url {
  text-overflow: ellipsis;
  overflow: hidden;
  min-width: 60%;
  white-space: nowrap;
  line-height: 48px;
  display: inline-block;
}

.contents {
  position: relative;
  height: calc(100vh - 100px - 70px);
  overflow: auto;
  .table-spinner {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }
}
.url-row {
  position: relative;
  .distribution {
    position: absolute;
    content: '';
    height: 5px;
    bottom: 0;
    right: 0;
    left: 0;
    .js {
      transition: all 1s;
      background: #1eb35c;
      height: 5px;
      float: left;
      width: 0%;
    }
    .css {
      transition: all 1s;
      background: #c281e0;
      height: 5px;
      float: left;
      width: 0%;
    }
    .unused {
      height: 5px;
      background: dimgray;
    }
  }
}
